* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  background-image: linear-gradient(135deg, rgb(102, 126, 234) 0%, rgb(118, 75, 162) 100%);
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
  padding: 20px;
  display: grid;
  grid-template-columns: 280px 1fr;
  grid-template-areas:
    "nav header"
    "nav main"
    "nav footer";
  grid-gap: 20px;
}

header {
  grid-area: header;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1.5px solid rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  padding: 7px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  row-gap: 20px;
}

.searchbox {
  background-color: rgba(255, 255, 255, 0.2);
  position: relative;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  height: 40px;
  min-width: 400px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: left;
}

.search-input {
  background-color: rgba(0, 0, 0, 0);
  color: rgb(255, 255, 255);
  border: none;
  margin-left: 12px;
  margin-right: 20px;
  font-size: 14px;
  opacity: 0.7;
  flex: 1;
}

.search-input:focus {
  outline: none;
}

.search-input::placeholder {
  color: rgb(255, 255, 255);

}

i.fa-search {
  margin-left: 20px;
  color: white;
}

.account {
  flex-shrink: 0.2;
  display: flex;
  align-items: center;
  gap: 15px;
  margin-right: 15px;
  padding: 8px 20px;
  border-radius: 50px;
}

.account:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.account-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  object-position: center;
  border-radius: 25px;
  border: 2px solid white;
}

.account-info {
  flex: 1;
}

.account-name {
  color: white;
  font-weight: 600;
}

.account-description {
  font-size: 12px;
  color: rgb(255, 255, 255);
  opacity: 0.8;
}

nav {
  grid-area: nav;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 20px;
}

nav h1 {
  margin-top: 10px;
  margin-bottom: 35px;
  font-size: 25px;
  color: white;
  display: flex;
}

nav h1 i {
  font-size: 35px;
  margin-right: 10px;
}

.nav-item {
  padding: 15px;
  margin-bottom: 8px;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  color: white;
  position: relative;
  transition: background-color 0.15s;
}

.nav-item:hover::before {
  content: "";
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right: 6px solid rgba(0, 0, 0, 0.8);
  position: absolute;
  left: 102.5%;
  z-index: 100;
}

.nav-item:hover::after {
  content: attr(data-tooltip);
  font-size: 14px;
  white-space: nowrap;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 8px;
  border-radius: 8px;
  position: absolute;
  left: 105%;
  z-index: 100;
}

.nav-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.nav-item:focus {
  background-color: rgba(255, 255, 255, 0.2);
}

.nav-item i {
  font-size: 20px;
  margin-right: 10px;
}

.nav-item p {
  font-weight: 500;
  white-space: nowrap;
}

main {
  grid-area: main;
  background:
    linear-gradient(to top, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.01));
}

article {
  margin-bottom: 25px;
  color: white;
}

article h1 {
  margin-bottom: 10px;
}

article p {
  opacity: 0.8;
}

section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-auto-rows: minmax(400px, auto);
  grid-gap: 20px;
}

.content {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  padding: 25px;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.15s, transform 0.3s;
}

.content:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

.content-header {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 15px;
}

.content-header .content-icon {
  padding: 10px 12px;
  color: white;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 12px;
}

.content-header p {
  color: white;
  font-size: 20px;
  font-weight: 600;
}

.content-main {
  color: white;
  font-size: 16px;
  line-height: 25px;
  text-align: justify;
  margin-bottom: 15px;
  opacity: 0.8;
}

.content-example {
  width: 100%;
  color: rgb(25, 176, 25);
  background-color: black;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 10px;
  opacity: 0.6;
  border-left: 5px solid rgb(102, 143, 255);
  white-space: pre;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.5);
}

.content-btn {
  font-size: 16px;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  padding: 10px 16px;
  background-color: rgba(255, 255, 255, 0.2);
  transition: transform 0.3s, background-color 0.3s;
  position: relative;
}

.content-btn:hover {
  transform: scale(1.05);
  background-color: rgba(255, 255, 255, 0.4);
}

.content-btn:hover::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid rgba(0, 0, 0, 0.8);
  bottom: 110%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}

.content-btn:hover::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 6px 8px;
  border-radius: 5px;
  z-index: 100;
}

footer {
  grid-area: footer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 20px;
}

.footer-sections {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.footer-section {
  min-width: 250px;
  flex: 1;
}

.footer-section h1 {
  color: white;
  font-size: 20px;
  margin-bottom: 10px;
}

.footer-section p {
  color: white;
  opacity: 0.6;
  line-height: 30px;
  margin-bottom: 8px;
  transition: opacity 0.15s, transform 0.3s;
}

.p-effect p:hover {
  opacity: 0.9;
  transform: translateX(5px);
  cursor: pointer;
}

.social-links button {
  font-size: 16px;
  color: white;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 20px;
  margin-right: 8px;
  transition: background-color 0.15s, transform 0.3s;
}

.social-links button:hover {
  background-color: rgba(255, 255, 255, 0.4);
  transform: translateY(-3px);
  cursor: pointer;
}

.social-links a {
  color: white;
}

hr {
  border: none;
  height: 0.5px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 25px 0;
}

.footer-ending {
  color: white;
  opacity: 0.6;
  text-align: center;
  margin: 10px 0;
}

@media screen and (min-width: 765.01px) and (max-width: 1010px) {
  body {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "nav"
      "main"
      "footer";
  }

  .nav-items {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 15px;
  }

  .nav-item:hover::before {
    content: none;
  }

  .nav-item:hover::after {
    content: none;
  }
}

@media screen and (max-width: 765px) {
  body {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "nav"
      "main"
      "footer";
  }

  header {
    flex-wrap: wrap;
    justify-content: center;
  }

  nav h1 {
    margin-bottom: 20px;
  }

  .nav-item:hover::before {
    content: none;
  }

  .nav-item:hover::after {
    content: none;
  }

  .searchbox {
    flex: 1;
  }

  .footer-sections {
    flex-direction: column;
  }
}